{% extends 'SheadFencingBundle::layout.html.twig' %}
{% block content %}
    <h1>Projet de logiciel de gestion d'inscriptions  pour les compétitions d'escrime</h1>
    <h2>Réalisation par le développeur web <a href="http://smallhead.fr">François LAVAZEC</a> en juillet 2014</h2>
    <h2>Projet personnel réalisé à la suite de la formation Symfony organisée par la <a href="http://3wa.fr">3W Academy</a> en juin 2014</h2>
    <p>Le modèle présenté ici s'appuie sur les données de la fédération française d'escrime où l'on a exclu les données confidentielles avec pour support une base concernant uniquement le département de la Seine Saint Denis</p>
    <p>Le modèle s'appuie sur une base de données mySQL</p>
    <p>Le développement du logiciel a été réalisé en utilisant le framework Symfony version 2.5</p>
{% endblock %}